<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<table border="1" cellpadding="10">
    <form th:method="PATCH" th:action="@{/admins/{id}(id=${user.getId()})}" th:object="${user}">


        <label for="name">Enter Name</label>
        <input type="text" th:field="*{name}" id="name"/>

        <br><br>

        <label for="email">Enter Email</label>
        <input type="email" th:field="*{username}" id="email"/>

        <br><br><label for="password">Enter password</label>
        <input type="password" th:field="*{password}" id="password"/>

        <br><br>

        <input type="submit" value="Update">


    </form>
</table>

<div>
    <br/>
    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="logout">
    </form>
</div>
</body>
</html>